{% extends "base.html" %}
{% load static %}
{% block title %}Advisor Dashboard{% endblock %}
{% block content %}



    {% include "partials/_sideAdminNav.html" %}
  <div class="main-content" id="panel">
    {% include "partials/_mainNav.html" %}


    {% for my_flag in flagged_users %}

    {% if my_flag.my_flag == False %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Hello! Hope you're having a great time</p>
          <p class="card-text">Sorry, but you don't have any requests to be advised</p>
        </div>
    </div>

    {% else %}
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        List of names
      </a>
      <a href="{% url 'view_dashboard' my_flag.user.id %}" class="list-group-item list-group-item-action">{{my_flag.user.first_name}} {{my_flag.user.last_name}}</a>
    </div>    
    
    {% endif %}

    {% endfor %}


  </div>
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
